@model LogisticaProdutos.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @*@Html.LabelFor(m => m.OldPassword)*@
                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Senha Atual" })
            </li>
            <li>
                @*@Html.LabelFor(m => m.NewPassword)*@
                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Nova Senha" })
            </li>
            <li>
                @*@Html.LabelFor(m => m.ConfirmPassword)*@
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirme a Nova Senha" })
            </li>
        </ol>
        <input type="submit" value="Salvar" />
    </fieldset>
}
