@model LogisticaProdutos.ViewModel.EstoqueViewModel

@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    .topButtons {
        padding:20px;
        margin-bottom:20px;
    }
</style>

<div class="topButtons">

    <button class="btn btn-default" id="realizarTransacao">Realizar transação</button>

</div>

<div class="transacao" style="display:none;">
    @Html.Partial("~/Views/Bebida/_transacao.cshtml")
</div>


<table id="table-bebidas">
    <thead>
        <tr>
            <th>Bebida</th>
            <th>Tipo</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LogisticaProdutos.ViewModel.BebidaViewModel item in Model.Bebidas) {
            <tr>
                <td>
                    @item.Nome
                </td>
                <td>
                    @item.TipoBebida.Tipo
                </td>
                <td id="@item.Nome">
                    @item.Quantidade
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#table-bebidas").dataTable();

        $("#Quantidade").val("");

        $("#realizarTransacao").click(function () {
            $(".transacao").show('slow');
        });

        $(".cancelar").click(function () {
            $(".transacao").hide('slow');
            return false;
        });

        $("form").submit(function () {
            if ($("#BebidaId").val() == "" || $("input[type=radio][name=TipoTransacao]:checked").length == 0 || $("#Quantidade").val() == "") {
                $("#errorMessage").text("Todos os campos são obrigatórios.");
                return false;
            }

            if ($("input[type=radio][name=TipoTransacao]:checked").val() == "Saida" && $("#Quantidade").val() > parseFloat($("#" + $("#BebidaId").find('option:selected').text()).text().trim())) {
                $("#errorMessage").text("Não há quantidade suficiente desta bebida.");
                return false;
            }



        })
    });
</script>